body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #d8b0e8, #a68df9, #d09af6);
    font-family: "Gamja Flower", sans-serif;
    overflow-x: hidden;
}

/* 구름 애니메이션 */
.cloud {
    position: absolute;
    background: white;
    filter: blur(3px);
    width: 200px;
    height: 90px;
    border-radius: 100px;
    opacity: 0.8;
    animation: float 8s infinite ease-in-out alternate;
}

.cloud-1 {
    top: 50px;
    left: 10%;
    animation-duration: 9s;
}

.cloud-2 {
    top: 120px;
    right: 15%;
    animation-duration: 7s;
}

.cloud-3 {
    top: 300px;
    left: 30%;
    animation-duration: 11s;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(25px);
    }
}

.card {
    background: white;
    padding: 40px;
    width: 500px;
    margin: 180px auto;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 34px;
    color: #9b59b6;
}

.subtitle {
    color: #ff9fd6;
    margin-top: -10px;
}

.inputBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #b984f7;
    outline: none;
}

.add-btn {
    margin-left: 10px;
    background: #af7df7;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: white;
    transition: 0.2s;
}

.add-btn:hover {
    background: #cda6ff;
}

/* 리스트 */
.todo-list {
    margin-top: 30px;
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
}

.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background: #ff9f9f;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}